body {
    margin: 0;
    padding: 0;
    border: solid 5px;
}

#padre{
  position: relative;
  background-color: aqua;
}

#hijo{
  position: absolute;
  bottom: 10em;
  right: 5em;
  background-color: transparent;
  color: white;
  text-align: right;
  font-size: 1rem;
}

#imagenGrande{
  background-color: rgb(30, 30, 30) ;
  background-blend-mode: soft-light;
  filter:brightness(30%);
}

#botonTransparente{
    background-color: transparent;
    color: white;
    border-color: white;
}



