body {
    margin: 0;
    padding: 0;
    border: solid 2px;
}

#padre{
  position: relative;
  background-color: aqua;
  border: solid 8px;

}

#hijo{
  position: absolute;
  bottom: 15rem;
  right: 10rem;
  background-color: transparent;
  color: white;
  text-align: right;
  font-size: 1em;
}

#imagenGrande{
  background-color: rgb(30, 30, 30) ;
  background-blend-mode: soft-light;
  filter:brightness(30%);
}

#botonTransparente{
    background-color: transparent;
    color: white;
    border-color: white;
}

img{
  border: 0;
  padding: 0;
}

#charla{
  color: black;

}

.footer-style {
  background-color: #0d2f39;
  color: white;
  padding: 1%;
}

#total{
  background-color: rgb(205, 242, 248);

}

#btnResumen, #btnBorrar{
  background-color: rgb(126, 206, 47);
  border-color: rgb(121, 173, 68);
}




